name: Build and Deploy

on:
  workflow_dispatch:
    inputs:
      build_web:
        description: "Build Web"
        required: false
        default: true
        type: boolean

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_web:
    if: inputs.build_web
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version-file: pubspec.yaml

      - name: Install dependencies
        run: flutter pub get

      - name: Build for web
        run: flutter build web --release --wasm --base-href /flutter_shader/

      - name: Upload Web artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-release
          path: build/web/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
